@charset "UTF-8";
/*기본색상*/

:root {
  --main-color: #002873;
  --accent-color: #3498db;
  --dark-main-color: #212121;
  --text-bright-color: #fff;
  --icon-color: #fff;
  --icon-bk-color: #ddd;
  --gray-color: #ddd;
  --large-width: 1000px;
  --middle-width: 768px;
}


/*기본 설정: 페이지 전체*/

body {
  margin: 0;
  font-family: BM JUA_TTF, ‘Appla SD Gothic Neo’, sans-serif;
}

/* header */

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--main-color);
  z-index: 1000;
}


header.nohero{
  position: static;
  border-bottom: 1px solid #ddd;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: var(--large-width);
  margin-left: auto;
  margin-right: auto;
}

/* logo */
.headA {
  display: inline-block;
  line-height: 70px;
  padding: 0 20px;
  background-color: var(--main-color);
  color: var(--text-bright-color);
  font-family: BM JUA_TTF, sans-serif;
  font-size: 24px;
  text-decoration: none;
}

/* navigation */
.headB{
  background-color: #002873;
  font-family: BM JUA_TTF, sans-serif;
  color: #fff;
}

.headB ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.headB a {
  display: block;
  padding: 15px;
  color: inherit;
  font-size: 12px;
  text-decoration: none;
}

.headB a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

  .headB ul {
    display: flex;
  }
  
  .headB a {
    font-size: 14px;
  }

  .headB{
    display: block !important;
  }



/* conA - hero image */

.conA{
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(../image/D_main.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  min-height: 450px;
  color: var(--text-bright-color);
  text-align: center;
}

.conA img{
  width: 20%;
}

.conA .disney_b{
  font-family: BM JUA_TTF, sans-serif;
  font-size: 120px;
  letter-spacing: 0.2em;
  display: inline-block; 
  margin-top: 20px;
  padding: 10px 30px; 
  border: 3px solid currentColor;
  color: var(--text-bright-color);
  border-radius: 6px; text-decoration: none;
}

.conA .next{
  display: inline-block; margin-top: 20px;
  padding: 10px 30px; border: 3px solid currentColor;
  color: var(--text-bright-color);
  border-radius: 6px; font-size: 20px; text-decoration: none;
}

.conA .button{
  display: flex;
  justify-content: space-between;
}

.conA a:hover{
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
}



/* conB : 피규어 상품 */
.conB{
  background-color: var(--main-color);
  color: var(--text-bright-color);
  font-family: BM JUA_TTF, sans-serif; 
}

.conB .container{
  display: flex;
  max-width: var(--large-width);
  margin: auto;
  padding-top: 40px;
  padding-bottom: 40px;
}

.conB .text{
  padding: 20px;
  flex: 2
}

.conB h2{
  margin-top: 00px;
  margin-bottom: 10px; font-size: 40px; 
}

.conB img{
  width: 50px; 
}

.conB p{
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.8;
    opacity: 0.8;
    clear: both;  
}

.conB a{
  display: inline-block; margin-top: 20px;
  padding: 10px 30px; border: 3px solid currentColor;
  color: var(--text-bright-color);
  border-radius: 6px; background-color: var(--accent-color); font-size: 14px; text-decoration: none; 
}

.conB a:hover{
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
}

.conB .photo{
  background-image: url(../image/pigure1.jpg);
  min-height: 300px;
  max-width: 300px;
  background-position: center;
  background-size: cover;
  margin: 40px;
  margin-left: 50px;
  flex: 3
}


  



/* conD: 문구상품 - 텍스트 + 이미지 */
.conC{
  background-color: var(--main-color);
  color: var(--text-bright-color);
  font-family: BM JUA_TTF, sans-serif;
}

.conC .container{
  padding-top: 2px;
  display: flex;
  flex-direction: row-reverse;
  max-width: var(--large-width);
  margin: auto;
  padding-top: 40px;
  padding-bottom: 40px;
}

.conC .text{
  padding: 20px;
  flex: 2;
}

.conC h2{
  margin-top: 0;
  margin-bottom: 10px; font-size: 40px;
}

.conC img{
  width: 50px; 
}

.conC p{
  margin-top: 0;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.8;
    opacity: 0.8;
}

.conC a{
  display: inline-block; margin-top: 20px;
  padding: 10px 30px; border: 3px solid currentColor;
  color: var(--text-bright-color);
  border-radius: 6px; background-color: var(--accent-color); font-size: 14px; text-decoration: none;
  box-shadow: 0 0 0 1px #888;
}

.conC a:hover{
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
}

.conC .photo{
  background-image: url(../image/stationery.jpg);
  min-height: 300px;
  max-width: 300px;
  background-position: center;
  background-size: cover;
  margin: 40px;
  flex: 3
}


  
  

/* conD : 홈 앤 리빙 상품 */
.conD{
  background-color: var(--main-color);
  color: var(--text-bright-color);
  font-family: BM JUA_TTF, sans-serif;
}

.conD .container{
  padding-top: 2px;
  display: flex;
  max-width: var(--large-width);
  margin: auto;
  padding-top: 40px;
  padding-bottom: 40px;
}

.conD .text{
  padding: 20px;
  flex: 2
}

.conD h2{
  margin-top: 0;
  margin-bottom: 10px; font-size: 40px;
}

.conD img{
  width: 50px; 
}

.conD p{
  margin-top: 0;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.8;
    opacity: 0.8;
}

.conD a{
  display: inline-block; margin-top: 20px;
  padding: 10px 30px; border: 3px solid currentColor;
  color: var(--text-bright-color);
  border-radius: 6px; background-color: var(--accent-color); font-size: 14px; text-decoration: none;
}

.conD a:hover{
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
}

.conD .photo{
  background-image: url(../image/H&R1.png);
  min-height: 300px;
  max-width: 300px;
  background-position: center;
  background-size: cover;
  margin: 40px;
  flex: 3
}



/* conE : 상품 후기 */
.conE{
  background-color: var(--main-color);
  color: var(--text-bright-color);
  font-family: BM JUA_TTF, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}

.conE .container{
  max-width: var(--large-width);
  margin: auto;
  padding-top: 40px;
  padding-bottom: 40px;
}

.conE hr{
  width: 200px;
}

.conE .text{
  padding: 20px;
  display: flex;
}

.conE h2{
  margin-top: 00px;
  margin-bottom: 10px; font-size: 40px;
  text-align: center; 
}

.conE table{
  border: 1px solid #212121;
  background-color: #fff;
  color: #212121;
  width: 600px;
  height: 300px;
  margin: 20px;
  text-align: center;
}

.conE table th{
  border-bottom: 1px solid #888;
}








 


/* footer: 공식협력체 */

footer{
  background-color: var(--dark-main-color);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}

footer .container{
  padding: 20px 10px;
  
}

.footA h2{
  margin-top: 0;
  margin-bottom: 10px; 
  font-family: BM JUA_TTF, sans-serif;
  font-size: 30px;
  letter-spacing: 0.2em;
  text-align: center;
}

.footB div{ margin-bottom: 10px;}

.footB ul{
  margin: 0; padding: 0; list-style: none; 
  display: flex; 
  
}

.footB li{
  margin: 10px;
}

.footC{
  text-align: center;
  color: #ddd;
}
