@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
:root {
    --main-color: #460000;
    --accent-color: #ff0003;
    --dark-main-color: #212121;
    --text-bright-color: #fff;
    --icon-color: #fff;
    --icon-bk-color: #ddd;
    --gray-color: #ddd;
    --large-width: 1000px;
    --middle-width: 768px;
}
/*기본 설정: 페이지 전체*/

body {
margin: 0;
font-family: BM JUA_TTF, ‘Appla SD Gothic Neo’, sans-serif;
}
/* background */
.background{background-color: #460000;}

/* header */
header {
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #460000;
    z-index: 1000;
}


header.nohero {
    position: static;
    border-bottom: 1px solid #ddd;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: var(--large-width);
    margin-left: auto;
    margin-right: auto;
}

/* logo */
.headA {
    display: inline-block;
    line-height: 70px;
    padding: 0 20px;
    background-color: #460000;
    color: var(--text-bright-color);
    font-family: BM JUA_TTF, sans-serif;
    font-size: 24px;
    text-decoration: none;
}

/* navigation */
.headB{
background-color: #460000;
font-family: BM JUA_TTF, sans-serif;
color: #fff;
}
.headB ul {
margin: 0;
padding: 0;
list-style: none;

}

.headB a {
display: block;
padding: 15px;
color: inherit;
font-size: 12px;
text-decoration: none;

}

.headB a:hover {
background-color: rgba(0, 0, 0, 0.3);
}

.headB ul {
display: flex;
}

.headB a {
font-size: 14px;
}

.headB{
display: block !important;
}
/* main */
.main {
    margin: auto;
    width: 1300px;
    height: 100%;
}
/* category */
.category{background-color: #d5c5c5;}
.category h1{
    margin: 0; margin-left: 110px;background-color: #d5c5c5; padding: 30px;
    font-size: 40px;
}
.mini{
    margin: 0; margin-left: 140px; padding-bottom: 20px;
}
.mini span{font-size: 17px;}
.mini span a {
    text-decoration: none;color: rgb(134, 132, 132);
}
/* contents */
.contents {
    display: flex;
    box-sizing: border-box;
    background-color: #d5c5c5;
    padding: 70px;
}
.contents img:hover{cursor: pointer;;opacity: 0.5;}
.text{text-align: center;}
.text:hover{cursor: pointer;}
/* goods */
.goods {
    margin: auto;
    padding: 0 10px;
}

.goods img {
    width: 250px;
    height: 250px;
}
/* footer */
footer{
background-color: var(--dark-main-color);
color: #fff;
display: flex;
align-items: center;
justify-content: space-between;
margin-left: auto;
margin-right: auto;
flex-direction: column;
}

footer .container{
padding: 20px 10px;

}

.footA h2{
margin-top: 0;
margin-bottom: 10px; 
font-family: BM JUA_TTF, sans-serif;
font-size: 30px;
letter-spacing: 0.2em;
text-align: center;
}

.footB div{ margin-bottom: 10px;}

.footB ul{
margin: 0; padding: 0; list-style: none; 
display: flex; 

}

.footB li{
margin: 10px;
}

.footC{
text-align: center;
color: #ddd;
}